<div class="col-md-4 col-md-offset-4 well">
	<form ng-submit="guardarParcial()">
		<h1>Parcial #2</h1>

		<div class="question_container" ng-repeat="pregunta in parcial" ng-init="preguntaIndex = $index">
			<div class="question_title col-md-12">
				<b>{{$index + 1}}.</b> {{pregunta.pregunta}}
			</div>
			{{pregunta}}
			<div class="question_body col-md-12">
				<div ng-switch="pregunta.tiporpta">
					<div ng-switch-when="pregMultipleUnicaRpta">
						<preg-multiple-unica-rpta rptasmultiples="pregunta.rptasmultiples"></preg-multiple-unica-rpta>
					</div>
					<div ng-switch-when="preguntaEmparejar">
						<pregunta-emparejar opcionesestaticas="pregunta.listadoOpciones" opcionesdinamicas="pregunta.listadoOpcionesdinamicas" ></pregunta-emparejar>
					</div>
				</div>
			</div>
		</div>
		<input type="submit" value="Enviar Respuestas" class="btn btn-success">
	</form>
</div>
